.section-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 2.2em;
  font-weight: bold;
  border-bottom: 3px solid var(--eng-green-color);
  color: var(--eng-green-color);
  margin-bottom: 10px;
}
