<!doctype html>
<html lang="fa">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" type="text/css" href="../Assets/Styles/Home.css" />
        <link rel="stylesheet" type="text/css" href="../Assets/Icons/flaticon.css" /> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    </head>

    <body>
        <div class="header">
            <div class="header-container">
                <ul>
                    <li><a href="/exit" class="header-exit">خروج</a></li>
                    <li><a href="/user">حساب کاربری</a></li>
                    <li class="header-cart">
                        <a href="/cart">
                            <span class="cart-counter">
                                ۳
                            </span>
                            <i class="flaticon-smart-cart"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/"><img src="../Assets/Images/LOGO.png" alt="Logo" class="header-logo" /></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content home">
            <div class="home-intro">
                <img src="../Assets/Images/Cover Photo.jpg" alt="Intro Cover" class="home-intro-cover" />
                <div class="home-intro-description">
                    <img src="../Assets/Images/LOGO.png" alt="Cover" />
                    <p>اولین و بزرگترین وب‌سایت سفارش آنلاین غذا در دانشگاه تهران</p>
                </div>
                <div class="container home-search">
                    <form action="/search" class="home-search-form row">
                        <div class="col-sm-9 search-text-inputs">
                            <input type="text" name="food_name" placeholder="نام غذا">
                            <input type="text" name="restaurant_name" placeholder="نام رستوران">
                        </div>
                        <div class="col-sm-3 search-submit-input">
                            <input type="submit" value="جست‌و‌جو">
                        </div>
                    </form>
                </div>
            </div>
            <div class="home-section home-food-party">
                <div class="home-title">
                    <p class="home-titles">جشن غذا!</p>
                    <p class="time-remaining">زمان باقی‌مانده: ۲۱:۴۸</p>
                </div>
            </div>
            <div class="home-section home-restaurants">
                <div class="home-title">
                    <p>رستوران‌ها</p>
                </div>
                <div class="container home-restaurants-list">
                    <div class="restaurant-card">
                        <div class="restaurant-card-img-container">
                            <a href="/restaurant">
                                <img src="../Assets/Images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="yellow-button">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="restaurant-card">
                        <div class="restaurant-card-img-container">
                            <a href="/restaurant">
                                <img src="../Assets/Images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="yellow-button">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="restaurant-card">
                        <div class="restaurant-card-img-container">
                            <a href="/restaurant">
                                <img src="../Assets/Images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="yellow-button">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="restaurant-card">
                        <div class="restaurant-card-img-container">
                            <a href="/restaurant">
                                <img src="../Assets/Images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="yellow-button">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="restaurant-card">
                        <div class="restaurant-card-img-container">
                            <a href="/restaurant">
                                <img src="../Assets/Images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="yellow-button">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="restaurant-card">
                        <div class="restaurant-card-img-container">
                            <a href="/restaurant">
                                <img src="../Assets/Images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="yellow-button">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="restaurant-card">
                        <div class="restaurant-card-img-container">
                            <a href="/restaurant">
                                <img src="../Assets/Images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="yellow-button">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="restaurant-card">
                        <div class="restaurant-card-img-container">
                            <a href="/restaurant">
                                <img src="../Assets/Images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="yellow-button">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <span>© تمامی حقوق متعلق به لقمه است</span>
        </div>
    </body>
</html>