<!doctype html>
<html lang="fa">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" type="text/css" href="../assets/styles/home.css" />
    </head>

    <body>
        <header class="flex-center">
            <div class="header-container">
                <ul>
                    <li class="flex-center"><a href="/exit" class="header-exit flex-center">خروج</a></li>
                    <li class="flex-center"><a href="./profile.html" class="flex-center">حساب کاربری</a></li>
                    <li class="header-cart flex-center">
                        <a href="/cart" class="flex-center">
                            <span class="cart-counter flex-center">
                                ۳
                            </span>
                            <i class="flaticon-smart-cart"></i>
                        </a>
                    </li>
                    <li class="flex-center">
                        <a href="./home.html" class="flex-center"><img src="../assets/images/LOGO.png" alt="Logo" class="header-logo" /></a>
                    </li>
                </ul>
            </div>
        </header>

        <main class="home">
            <div class="home-intro flex-center">
                <img src="../assets/images/Cover Photo.jpg" alt="Intro Cover" class="home-intro-cover" />
                <div class="home-intro-description flex flex-col justify-content-around align-items-center">
                    <img src="../assets/images/LOGO.png" alt="Cover" />
                    <p>اولین و بزرگترین وب‌سایت سفارش آنلاین غذا در دانشگاه تهران</p>
                </div>
                <div class="container home-search">
                    <form action="/search" class="home-search-form row justify-content-around align-items-center">
                        <div class="col-sm-9 search-text-inputs flex justify-content-around align-items-center">
                            <input type="text" name="food_name" placeholder="نام غذا" class="loghme-input-text">
                            <input type="text" name="restaurant_name" placeholder="نام رستوران" class="loghme-input-text">
                        </div>
                        <div class="col-sm-3 search-submit-input">
                            <input type="submit" value="جست‌و‌جو">
                        </div>
                    </form>
                </div>
            </div>
            <div class="home-section flex flex-col justify-content-center align-items-center home-food-party">
                <div class="section-title-container">
                    <p class="section-title">جشن غذا!</p>
                    <p class="time-remaining">زمان باقی‌مانده: ۲۱:۴۸</p>
                </div>
            </div>
            <div class="home-section flex flex-col justify-content-center align-items-center home-restaurants">
                <div class="section-title-container">
                    <span class="section-title">رستوران‌ها</span>
                </div>
                <div class="container home-restaurants-list flex-wrap">
                    <div class="loghme-card">
                        <div class="restaurant-card-img-container">
                            <a href="./restaurant.html">
                                <img src="../assets/images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info flex flex-col justify-content-center align-items-center">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="loghme-button-style">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="loghme-card">
                        <div class="restaurant-card-img-container">
                            <a href="./restaurant.html">
                                <img src="../assets/images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info flex flex-col justify-content-center align-items-center">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="loghme-button-style">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="loghme-card">
                        <div class="restaurant-card-img-container">
                            <a href="./restaurant.html">
                                <img src="../assets/images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info flex flex-col justify-content-center align-items-center">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="loghme-button-style">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="loghme-card">
                        <div class="restaurant-card-img-container">
                            <a href="./restaurant.html">
                                <img src="../assets/images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info flex flex-col justify-content-center align-items-center">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="loghme-button-style">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="loghme-card">
                        <div class="restaurant-card-img-container">
                            <a href="./restaurant.html">
                                <img src="../assets/images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info flex flex-col justify-content-center align-items-center">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="loghme-button-style">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="loghme-card">
                        <div class="restaurant-card-img-container">
                            <a href="./restaurant.html">
                                <img src="../assets/images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info flex flex-col justify-content-center align-items-center">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="loghme-button-style">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="loghme-card">
                        <div class="restaurant-card-img-container">
                            <a href="./restaurant.html">
                                <img src="../assets/images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info flex flex-col justify-content-center align-items-center">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="loghme-button-style">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                    <div class="loghme-card">
                        <div class="restaurant-card-img-container">
                            <a href="./restaurant.html">
                                <img src="../assets/images/KFC.png" alt="Restaurant Logo" />
                            </a>
                        </div>
                        <div class="restaurant-card-info flex flex-col justify-content-center align-items-center">
                            <p>Khames Fried Chicken</p>
                            <a href="/menu" class="loghme-button-style">
                                نمایش منو
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <span>© تمامی حقوق متعلق به لقمه است</span>
        </footer>
    </body>
</html>