<!doctype html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="../Assets/Styles/Profile.css" />
    <link rel="stylesheet" type="text/css" href="../Assets/Icons/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="../Assets/Styles/bootstrap.min.css" />
</head>

<body>
    <div class="header">
        <div class="header-container">
            <ul>
                <li><a href="/exit" class="header-exit">خروج</a></li>
                <li><a href="/user">حساب کاربری</a></li>
                <li class="header-cart">
                    <a href="/cart">
                        <span class="cart-counter">
                            ۳
                        </span>
                        <i class="flaticon-smart-cart"></i>
                    </a>
                </li>
                <li>
                    <a href="/"><img src="../Assets/Images/LOGO.png" alt="Logo" class="header-logo" /></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content profile">
        <div class="container-fluid profile-info-container">
            <div class="container profile-info">
                <div class="row">
                    <div class="col-sm-6 profile-name">
                        <i class="glyph-icon flaticon-account"></i>
                        <span>احسان خامس‌پناه</span>
                    </div>
                    <div class="col-sm-6 profile-description-container">
                        <div class="profile-description">
                            <div class="description-container">
                                <i class="glyph-icon flaticon-phone"></i>
                                <span>۰۹۱۲۳۴۵۶۷۸۹</span>
                            </div>
                            <div class="description-container">
                                <i class="glyph-icon flaticon-mail"></i>
                                <span>ekhamespanah@yahoo.com</span>
                            </div>
                            <div class="description-container">
                                <i class="glyph-icon flaticon-card"></i>
                                <span>۱۰۰۰۰۰ تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container profile-content">
            <input class="radio" id="credit-tab-select" name="group" type="radio" checked>
            <input class="radio" id="orders-tab-select" name="group" type="radio">
            <div class="profile-options">
                <label class="orders-tab-label" for="orders-tab-select">سفارش‌ها</label>
                <hr class="vertical-dash" />
                <label class="credit-tab-label" for="credit-tab-select">افزایش اعتبار</label>
            </div>
            <div class="profile-tab credit-tab">
                <form action="/cart" class="row add-credit">
                    <div class="col-sm-8">
                        <input type="text" name="credit" placeholder="میزان افزایش اعتبار" class="loghme-input-text ">
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" value="افزایش" class="loghme-button loghme-button-style">
                    </div>
                </form>
            </div>
            <div class="profile-tab orders-tab">
                <div class="profile-orders-container">
                    <div class="profile-order row">
                        <div class="col-lg-1 col-2">
                            <span>۱</span>
                        </div>
                        <div class="col-lg-6 col-5 profile-order-restaurant-name">
                            <span>رستوران خامس</span>
                        </div>
                        <div class="col-lg-5 col-5 delivery-button-container">
                            <a href="/menu" class="loghme-button-style in-delivery delivery-button">
                                پیک در مسیر
                            </a>
                        </div>
                    </div>
                    <div class="profile-order row">
                        <div class="col-lg-1 col-2">
                            <span>۲</span>
                        </div>
                        <div class="col-lg-6 col-5 profile-order-restaurant-name">
                            <span>رستوران خامس</span>
                        </div>
                        <div class="col-lg-5 col-5 delivery-button-container">
                            <a href="/menu" class="loghme-button-style delivery-searching delivery-button">
                                در جست‌و‌جوی پیک
                            </a>
                        </div>
                    </div>
                    <div class="profile-order row">
                        <div class="col-lg-1 col-2">
                            <span>۳</span>
                        </div>
                        <div class="col-lg-6 col-5 profile-order-restaurant-name">
                            <span>رستوران خامس</span>
                        </div>
                        <div class="col-lg-5 col-5 delivery-button-container">
                            <a href="/menu" class="loghme-button-style factor-button delivery-button">
                                مشاهده فاکتور
                            </a>
                        </div>
                    </div>
                    <div class="profile-order row">
                        <div class="col-lg-1 col-2">
                            <span>۴</span>
                        </div>
                        <div class="col-lg-6 col-5 profile-order-restaurant-name">
                            <span>رستوران خامس</span>
                        </div>
                        <div class="col-lg-5 col-5 delivery-button-container">
                            <a href="/menu" class="loghme-button-style factor-button delivery-button">
                                مشاهده فاکتور
                            </a>
                        </div>
                    </div>
                    <div class="profile-order row">
                        <div class="col-lg-1 col-2">
                            <span>۵</span>
                        </div>
                        <div class="col-lg-6 col-5 profile-order-restaurant-name">
                            <span>رستوران خامس</span>
                        </div>
                        <div class="col-lg-5 col-5 delivery-button-container">
                            <a href="/menu" class="loghme-button-style factor-button delivery-button">
                                مشاهده فاکتور
                            </a>
                        </div>
                    </div>
                    <div class="profile-order row">
                        <div class="col-lg-1 col-2">
                            <span>۶</span>
                        </div>
                        <div class="col-lg-6 col-5 profile-order-restaurant-name">
                            <span>رستوران خامس</span>
                        </div>
                        <div class="col-lg-5 col-5 delivery-button-container">
                            <a href="/menu" class="loghme-button-style factor-button delivery-button">
                                مشاهده فاکتور
                            </a>
                        </div>
                    </div>
                    <div class="profile-order row">
                        <div class="col-lg-1 col-2">
                            <span>۷</span>
                        </div>
                        <div class="col-lg-6 col-5 profile-order-restaurant-name">
                            <span>رستوران خامس</span>
                        </div>
                        <div class="col-lg-5 col-5 delivery-button-container">
                            <a href="/menu" class="loghme-button-style factor-button delivery-button">
                                مشاهده فاکتور
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span>© تمامی حقوق متعلق به لقمه است</span>
    </div>
</body>

</html>