<!doctype html>
<html lang="fa">
    <head>
        <title>رستوران</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" type="text/css" href="../assets/styles/restaurant.css" />
    </head>

    <body>
        <header class="flex-center">
            <div class="header-container">
                <ul>
                    <li class="flex-center"><a href="/exit" class="header-exit flex-center">خروج</a></li>
                    <li class="flex-center"><a href="./profile.html" class="flex-center">حساب کاربری</a></li>
                    <li class="header-cart flex-center">
                        <a href="/cart" class="flex-center">
                            <span class="cart-counter flex-center">
                                ۳
                            </span>
                            <i class="flaticon-smart-cart"></i>
                        </a>
                    </li>
                    <li class="flex-center">
                        <a href="./home.html" class="flex-center"><img src="../assets/images/LOGO.png" alt="Logo" class="header-logo" /></a>
                    </li>
                </ul>
            </div>
        </header>

        <main class="restaurant">
            <div class="restaurant-logo-container flex-center">
                <div class="restaurant-logo flex-center">
                    <img src="../assets/images/mcdonalds.png" alt="Restaurant Logo" />
                </div>
            </div>
            <div class="restaurant-name flex-center">
                <p>رستوران خامس</p>
            </div>
            <div class="container restaurant-bottom-description">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                    </div>
                    <div class="col-lg-8 col-md-6 section-title-container">
                        <p class="section-title">منوی غذا</p>
                    </div>
                </div>
            </div>
            <div class="container restaurant-bottom">
                <div class="row flex-row-reverse">
                    <div class="col-lg-8 col-md-6 restaurant-menu">
                        <div class="restaurant-menu-container flex-wrap">
                            <div class="loghme-card">
                                <div class="menu-info flex-center flex-col">
                                    <div class="menu-img-container flex-center">
                                        <img src="../assets/images/pizza.jpg" alt="Food" />
                                    </div>
                                    <div class="menu-food-name flex justify-content-around align-items-center">
                                        <span>پیتزا اعلا</span>
                                        <span>۵</span>
                                        <span class="star">★</span>
                                    </div>
                                    <div class="menu-food-price flex-center">
                                        <span>۳۹۰۰۰ تومان</span>
                                    </div>
                                </div>
                                <div class="menu-button-container flex-center">
                                    <a href="/menu" class="loghme-button-style">
                                        افزودن به سبد خرید
                                    </a>
                                </div>
                            </div>
                            <div class="loghme-card">
                                <div class="menu-info flex-center flex-col">
                                    <div class="menu-img-container flex-center">
                                        <img src="../assets/images/pizza.jpg" alt="Food" />
                                    </div>
                                    <div class="menu-food-name flex justify-content-around align-items-center">
                                        <span>پیتزا نیمه‌اعلا</span>
                                        <span>۴</span>
                                        <span class="star">★</span>
                                    </div>
                                    <div class="menu-food-price flex-center">
                                        <span>۲۹۰۰۰ تومان</span>
                                    </div>
                                </div>
                                <div class="menu-button-container flex-center">
                                    <span class="loghme-button-style food-out-button">
                                        ناموجود
                                    </span>
                                </div>
                            </div>
                            <div class="loghme-card">
                                <div class="menu-info flex-center flex-col">
                                    <div class="menu-img-container flex-center">
                                        <img src="../assets/images/pizza.jpg" alt="Food" />
                                    </div>
                                    <div class="menu-food-name flex justify-content-around align-items-center">
                                        <span>پیتزا اعلا</span>
                                        <span>۵</span>
                                        <span class="star">★</span>
                                    </div>
                                    <div class="menu-food-price flex-center">
                                        <span>۳۹۰۰۰ تومان</span>
                                    </div>
                                </div>
                                <div class="menu-button-container flex-center">
                                    <a href="/menu" class="loghme-button-style">
                                        افزودن به سبد خرید
                                    </a>
                                </div>
                            </div>
                            <div class="loghme-card">
                                <div class="menu-info flex-center flex-col">
                                    <div class="menu-img-container flex-center">
                                        <img src="../assets/images/pizza.jpg" alt="Food" />
                                    </div>
                                    <div class="menu-food-name flex justify-content-around align-items-center">
                                        <span>پیتزا اعلا</span>
                                        <span>۵</span>
                                        <span class="star">★</span>
                                    </div>
                                    <div class="menu-food-price flex-center">
                                        <span>۳۹۰۰۰ تومان</span>
                                    </div>
                                </div>
                                <div class="menu-button-container flex-center">
                                    <a href="/menu" class="loghme-button-style">
                                        افزودن به سبد خرید
                                    </a>
                                </div>
                            </div>
                            <div class="loghme-card">
                                <div class="menu-info flex-center flex-col">
                                    <div class="menu-img-container flex-center">
                                        <img src="../assets/images/pizza.jpg" alt="Food" />
                                    </div>
                                    <div class="menu-food-name flex justify-content-around align-items-center">
                                        <span>پیتزا اعلا</span>
                                        <span>۵</span>
                                        <span class="star">★</span>
                                    </div>
                                    <div class="menu-food-price flex-center">
                                        <span>۳۹۰۰۰ تومان</span>
                                    </div>
                                </div>
                                <div class="menu-button-container flex-center">
                                    <a href="/menu" class="loghme-button-style">
                                        افزودن به سبد خرید
                                    </a>
                                </div>
                            </div>
                            <div class="loghme-card">
                                <div class="menu-info flex-center flex-col">
                                    <div class="menu-img-container flex-center">
                                        <img src="../assets/images/pizza.jpg" alt="Food" />
                                    </div>
                                    <div class="menu-food-name flex justify-content-around align-items-center">
                                        <span>پیتزا اعلا</span>
                                        <span>۵</span>
                                        <span class="star">★</span>
                                    </div>
                                    <div class="menu-food-price flex-center">
                                        <span>۳۹۰۰۰ تومان</span>
                                    </div>
                                </div>
                                <div class="menu-button-container flex-center">
                                    <a href="/menu" class="loghme-button-style">
                                        افزودن به سبد خرید
                                    </a>
                                </div>
                            </div>
                            <div class="loghme-card">
                                <div class="menu-info flex-center flex-col">
                                    <div class="menu-img-container flex-center">
                                        <img src="../assets/images/pizza.jpg" alt="Food" />
                                    </div>
                                    <div class="menu-food-name flex justify-content-around align-items-center">
                                        <span>پیتزا اعلا</span>
                                        <span>۵</span>
                                        <span class="star">★</span>
                                    </div>
                                    <div class="menu-food-price flex-center">
                                        <span>۳۹۰۰۰ تومان</span>
                                    </div>
                                </div>
                                <div class="menu-button-container flex-center">
                                    <a href="/menu" class="loghme-button-style">
                                        افزودن به سبد خرید
                                    </a>
                                </div>
                            </div>
                            <div class="loghme-card">
                                <div class="menu-info flex-center flex-col">
                                    <div class="menu-img-container flex-center">
                                        <img src="../assets/images/pizza.jpg" alt="Food" />
                                    </div>
                                    <div class="menu-food-name flex justify-content-around align-items-center">
                                        <span>پیتزا اعلا</span>
                                        <span>۵</span>
                                        <span class="star">★</span>
                                    </div>
                                    <div class="menu-food-price flex-center">
                                        <span>۳۹۰۰۰ تومان</span>
                                    </div>
                                </div>
                                <div class="menu-button-container flex-center">
                                    <a href="/menu" class="loghme-button-style">
                                        افزودن به سبد خرید
                                    </a>
                                </div>
                            </div>
                            <div class="loghme-card">
                                <div class="menu-info flex-center flex-col">
                                    <div class="menu-img-container flex-center">
                                        <img src="../assets/images/pizza.jpg" alt="Food" />
                                    </div>
                                    <div class="menu-food-name flex justify-content-around align-items-center">
                                        <span>پیتزا اعلا</span>
                                        <span>۵</span>
                                        <span class="star">★</span>
                                    </div>
                                    <div class="menu-food-price flex-center">
                                        <span>۳۹۰۰۰ تومان</span>
                                    </div>
                                </div>
                                <div class="menu-button-container flex-center">
                                    <a href="/menu" class="loghme-button-style">
                                        افزودن به سبد خرید
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-6 restaurant-cart-container">
                        <div class="restaurant-cart flex flex-col justify-content-around align-items-center">
                            <p>سبد خرید</p>
                            <div class="cart-items">
                                <div class="cart-item flex justify-content-around align-items-center">
                                    <div class="cart-item-name">
                                        <span>پیتزا اعلا</span>
                                    </div>
                                    <div class="cart-item-info flex flex-col justify-content-center align-items-center">
                                        <div class="cart-item-count flex justify-content-around align-items-center">
                                            <i class="glyph-icon flaticon-plus"></i>
                                            <span>۲</span>
                                            <i class="glyph-icon flaticon-minus"></i>
                                        </div>
                                        <div class="cart-item-price">
                                            <span>۷۸۰۰۰ تومان</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-item flex justify-content-around align-items-center">
                                    <div class="cart-item-name">
                                        <span>پیتزا نیمه‌اعلا</span>
                                    </div>
                                    <div class="cart-item-info">
                                        <div class="cart-item-count flex justify-content-around align-items-center">
                                            <i class="glyph-icon flaticon-plus"></i>
                                            <span>۱</span>
                                            <i class="glyph-icon flaticon-minus"></i>
                                        </div>
                                        <div class="cart-item-price">
                                            <span>۲۹۰۰۰ تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order-price">
                                <span>جمع کل:</span>
                                <span>۱۰۷۰۰۰ تومان</span>
                            </div>
                            <button class="loghme-button loghme-button-style">تأیید نهایی</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <footer>
            <span>© تمامی حقوق متعلق به لقمه است</span>
        </footer>
    </body>
</html>