<!doctype html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/signup.css" />
</head>

<body class="signup-body">
    <div class="auth">
        <div class="auth-logo">
            <img src="../assets/images/LOGO.png" alt="Logo" />
        </div>
        <input type="text" name="name" placeholder="نام و نام خانوادگی" class="loghme-input-text">
        <input type="email" name="email" placeholder="ایمیل" class="loghme-input-text">
        <input type="password" name="password" placeholder="رمز عبور" class="loghme-input-text">
        <input type="submit" value="ثبت‌نام" class="loghme-button loghme-button-style">
        <p>قبلا ثبت‌نام کرده‌اید؟ <a href="./login.html" class="auth-link login-link">ورود</a></p>
    </div>
</body>

</html>