
.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header-container {
  width: 80%;
  height: 100%;
}

@media (max-width: 575.98px) {
  .header-container {
    width: 100%;
  }
}

.header-container  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.header-container  li {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-container  li:last-child {
  border-right: none;
  float: right;
}

.header-container li a {
  display: flex;
  justify-content: center;
  align-items: center;  text-align: center;
  margin: 0 16px;
  text-decoration: none;
  height: 100%;
  color: #1A535C;
}

.header-container li i {
  width: 50%;
}


.header-logo {
  height: 90%;
}

.header-exit {
  color: #FF6B6B !important;
}

.header-cart {
  position: relative;
}

.cart-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  color: white;
  background: #4ECDC4;
  border: 1px solid #31A4B7;
  padding-top: 1px;
  position: absolute;
  top: 20%;
  right: 25%;
}