@import "general.css";
@import "header.css";
@import "footer.css";

.profile-info-container {
  background-color: var(--pastel-red-color);
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
}

.profile-name {
  display: flex;
  justify-content: start;
  align-items: center;
}

.profile-name span {
  font-weight: bold;
  font-size: 1.6em;
  padding-right: 10px;
}

.profile-name i::before {
  font-size: 3em;
}

.profile-description-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.profile-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.description-container {
  display: flex;
  align-items: center;
}

.description-container > i {
  padding-left: 10px;
}

@media (max-width: 575.98px) {
}

.profile-content {
  margin-top: 100px;
  background-color: white;
  border: 1px solid var(--gray-color);
  border-radius: 30px;
  position: relative;
  padding-top: 80px;
  padding-bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  margin-bottom: 65px;
}

.profile-tab {
  display : none;
}

.radio {
  display : none;
}

#credit-tab-select:checked ~ .credit-tab,
#orders-tab-select:checked ~ .orders-tab {
  display : block;
}

#credit-tab-select:checked ~ .profile-options .credit-tab-label,
#orders-tab-select:checked ~ .profile-options .orders-tab-label {
  background-color: var(--pastel-red-color);
  font-weight: bold;
  color: white;
}

.profile-options {
  width: 70%;
  height: 65px;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.41);
  overflow: hidden;
}

.profile-options label {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  margin: 0;
}

.vertical-dash {
  height: 100%;
  width: 0;
  border-right: 2px dashed var(--gray-color);
}

.credit-tab {
  width: 70%;
}

.credit-tab input {
  width: 100%;
}

.add-credit {
  display: flex;
  align-items: center;
}

.add-credit input[type="text"] {
  border: 1px solid #a7a7a7;
}

.add-credit input[type="submit"] {
  background-color: var(--med-turquoise-color);
  color: white;
  font-weight: bold;
  border: 1px solid #49a69f;
  padding: 13.85px 20px;
}

.orders-tab {
  width: 90%;
}

.profile-orders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-order {
  width: 100%;
  border: 1px solid black;
  height: 70px;
  margin-bottom: 30px;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
  background-color: #fbfbfb;
}

.profile-orders-container .profile-order:last-child {
  margin-bottom: 0;
}

.profile-order div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.profile-order-restaurant-name {
  border-right: 1px solid var(--gray-color);
  border-left: 1px solid var(--gray-color);
}

.factor-button {
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.41);
}

.in-delivery {
  background-color: #cdfec7;
  color: #488141;
}

.delivery-searching {
  background-color: #d3fffc;
  color: #2e6d68;
}

@media (max-width: 767.98px) {
  .delivery-button-container {
    padding: 0 !important;
  }

  .delivery-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}

@media (max-width: 575.98px) {
  .profile-order {
    height: 90px;
  }
}