.credit-tab {
  width: 70%;
}

.credit-tab input {
  width: 100%;
}

.add-credit input[type="text"] {
  border: 1px solid #a7a7a7;
}

.add-credit button {
  background-color: var(--med-turquoise-color);
  color: white;
  font-weight: bold;
  border: 1px solid #49a69f;
  padding: 12px 20px;
  width: 100%;
}
