.restaurant-logo-container {
  height: 280px;
  background: linear-gradient(to bottom, var(--pastel-red-color) 50%, transparent 50%);
}

.restaurant-logo {
  height: 200px;
  width: 200px;
  border-radius: 25px;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.41);
}

.restaurant-logo img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 25px;
}