@import "./assets/fonts/vazir-fonts/fonts.css";
@import "./assets/icons/flaticon.css";
@import "./assets/bootstrap/bootstrap.css";

html {
  height: 100%;
}

body {
  font-family: Vazir !important;
  background-color: var(--mint-cream-color) !important;
  direction: rtl;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100%;
}

:root {
  --eng-green-color: #1a535c;
  --med-turquoise-color: #4ecdc4;
  --mint-cream-color: #f7fff7;
  --pastel-red-color: #ff6b6b;
  --maize-color: #ffe66d;
  --gray-color: #979797;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.loghme-card {
  width: 200px;
  height: 230px;
  margin: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.41);
  transition: all 0.3s ease;
}

.loghme-card:hover {
  transform: scale(1.1);
}

.loghme-button-style {
  background-color: var(--maize-color);
  color: #484848;
  border-radius: 4px;
  text-decoration: none;
  padding: 5px 14px;
}

.loghme-button-style:hover {
  text-decoration: none;
}

.loghme-button {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

i::before {
  margin-left: 0 !important;
}

.loghme-input-text {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

.loghme-input-text::placeholder {
  text-align: right;
}

.flex {
  display: flex;
}

.star {
  padding-right: 2px;
  color: #ffa526;
}

.Toastify__toast-body {
  font-family: Vazir !important;
}

.Toastify__toast-body {
  flex: 0 auto;
}

.modal-content {
  background: none;
  border: none;
}