.order-info {
  min-height: 300px;
  width: 600px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

.order-info-restaurant {
  width: 60%;
  height: 60px;
  border-bottom: 1px solid #979797;
  margin-bottom: 25px;
}

.order-info-restaurant span {
  font-size: 1.5em;
}

.order-info-price {
  width: 85%;
  height: 50px;
  /* border: 1px solid green; */
}

.order-info-price span {
  font-weight: bold;
}

.order-info-list {
  width: 85%;
}

.table td,
tr {
  text-align: center;
  line-height: 10px;
  min-height: 10px;
  height: 10px;
  font-weight: 500;
  color: #4a4a4a;
}

.column-color tr {
  background-color: #ebebeb;
  color: #818181;
  font-weight: 100;
  text-align: center;
}

.table th {
  font-weight: normal;
}
